<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyA5NpeEeD48iduQzgtSbnoahp3HF-3PEdk",
            authDomain: "akbar-server.firebaseapp.com",
            databaseURL: "https://akbar-server.firebaseio.com",
            projectId: "akbar-server",
            storageBucket: "akbar-server.appspot.com",
            messagingSenderId: "564819667246",
            appId: "1:564819667246:web:b8ea720bcd5026c82cb2bf"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
    </script>
</head>
<body>
    <div class="container">
        <h1>Bot Shopee App</h1>
        <br>
        <h2>selamat datang</h2>
        <button id="panggil" onclick="{panggil()}">Click Me</button>

        <form method="post" action="/">
            <input type="test" name="status">
            <input type="submit">
        </form>

        <h3 id="gooele-displayName"></h3>
        <img id="google-pic" src="" />
        <p id="google-email"></p>
        <input onkeyup.ENTER="{pushSearch()}" id="one" type="text" /> <button onclick="{pushSearch()}">Add One</button>
        <br>
        <button onclick="{runBot()}">RUN BOT</button>
        <button onclick="{reloadBot()}">STOP</button>
        <br>

        <button id="signin" onclick="{signInWithGoogle()}">Sign In With Google</button>
        <button id="signout" onclick="{signOut()}">Sign Out</button>
        <!-- <button id="a" onclick="{jack.test()}">testttttttttttt</button> -->
    </div>
<script src="js/firebaseAuth.js"></script>
<script src="js/firebaseData.js"></script>
<script src="smith.js"></script>

</body>
</html>