<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>

</head>
<body>
    <h1>hello</h1>
    <script src="firebase.js"></script>
    <script src="main.js"></script>
    <div>
        <button onclick="mainApp.create()">create</button>
        <button onclick="mainApp.read()">read</button>
        <button onclick="mainApp.update()">update</button>
        <button onclick="mainApp.delete()">delete</button>
    </div>
    <button onclick="mainApp.logOut()"> LogOut </button>
</body>
</html>